div.main-doc {
display:grid; 
grid-template-columns: minmax(200px, auto) 1fr;
grid-template-areas: "navbar maincontent";
grid-gap: 30px;
 
}
nav#navbar{
grid-area: navbar; 
position: fixed;
   
}
nav#navbar a {
    display: block;
    border: 2px solid black;
    padding: 6px;
    margin: 10px 0;
    text-decoration: none; 
    color: black;
     }
    
     main#main-doc {
         grid-area: mainContent;
      }

      header {
          font-size: 2.0em;
          font-weight: bold;
      }
      code {
        background-color: darkkhaki;
        display: block;
        padding: 15px;  
      }

    @media screen and (max-width: 760px){ 
        div.main-doc {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }}